@using RakamIKProjesi.Models.Siniflar
@model List<Departmanlar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:25px">
    <tr>
        <th>Departman ID</th>
        <th>Departman Adı</th>
        <th>Aktiflik</th>
        <th>Durum</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var departmanlar in Model)
    {
        <tr>
            <td>
                @departmanlar.DepartmanID
            </td>
            <td>
                @departmanlar.DepartmanAd
            </td>
            <td>
                @if (departmanlar.Aktiflik == true)
                {
                    <p>Aktif</p>
                }
                else
                {
                    <p>Pasif</p>
                }
            </td>
            <td>
                @if (departmanlar.Aktiflik == true)
                {
                    <a href="/Departmanlar/DepartmanPasif/@departmanlar.DepartmanID">Pasif Yap</a>
                }
                else
                {
                    <a href="/Departmanlar/DepartmanAktif/@departmanlar.DepartmanID">Aktif Yap</a>
                }
            </td>
            <td>
                <a href="/Departmanlar/DepartmanVeri/@departmanlar.DepartmanID">Güncelle</a>
            </td>
            <td><a href="/Departmanlar/DepartmanDetay/@departmanlar.DepartmanID">Detaylar</a></td>
        </tr>
    }

</table>
<a href="/Departmanlar/DepartmanEkle" class="btn btn-primary">Yeni Departman</a>
