@using RakamIKProjesi.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:25px">
    <tr>
        <th>Personel ID</th>
        <th>Personel Adı</th>
        <th>Birim</th>
        <th>Personel Durum</th>
        <th>Departman</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var personeller in Model)
    {
        <tr>
            <td>@personeller.PersonelID</td>
            <td>@personeller.PersonelAd</td>
            <td>
                @if (personeller.Birim == 1.ToString())
                {
                    <p>Yazılım Geliştirme</p>
                }
                else if (personeller.Birim == 2.ToString())
                {
                    <p>Analiz</p>
                }
                else if (personeller.Birim == 3.ToString())
                {
                    <p>Tasarım</p>
                }
                else if (personeller.Birim == 4.ToString())
                {
                    <p>Destek</p>
                }
                else if (personeller.Birim == 5.ToString())
                {
                    <p>Bakım</p>
                }
                else
                {
                    <p>Yazılım Geliştirme</p>
                }
            </td>
            <td>
                @if (personeller.PersonelAktif == true)
                {
                    <p>Aktif Çalışan</p>
                }
                else
                {
                    <p>Pasif</p>
                }
            </td>
            <th>@personeller.Departman.DepartmanAd</th>
            <th><a href="/Personel/PersonelVeri/@personeller.PersonelID">Güncelle</a></th>
        </tr>
    }

</table>

<a href="/Personel/PersonelEkle" class="btn btn-primary">Yeni Personel</a>